#!/usr/bin/make -f

# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@  --with quilt,systemd


destdir := $(CURDIR)/debian/ksm-control-daemon

override_dh_auto_install:
	# Add here commands to install the package into debian/ksm-control-scripts.
	#$(MAKE) DESTDIR=$(CURDIR)/debian/ksm-control-scripts install

	#install -D -m 0755 $(CURDIR)/ksmtuned.init $(destdir)/etc/init.d/ksmtuned
	install -D -m 0755 $(CURDIR)/ksmtuned $(destdir)/usr/sbin/ksmtuned
	install -D -m 0644 $(CURDIR)/debian/defaults $(destdir)/etc/default/ksmtuned
	install -D -m 0644 $(CURDIR)/ksmtuned.conf $(destdir)/etc/ksmtuned.conf

override_dh_systemd_enable:
	dh_systemd_enable --name ksmtuned
